<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments::html_head_fr"></head>

<body id="body-pd" class="body-pd">

    <div th:replace="fragments::header_fr('Settings')"></div>
    <div th:replace="fragments::menu_fr('Settings')"></div>

    <div id="settings" class="content-area">
        <div class="container">

            <div class="row">
                <div class="col">
                    <ul class="nav nav-tabs mt-5" id="settingTabs">
                        <li class="nav-item"><a href="#zerodha_kite_token" data-url="/zerodha_kite_token" class="nav-link active">Refresh Tokens</a></li>
                        <li class="nav-item"><a href="#tab2" data-url="/tab2" class="nav-link">Tab2</a></li>
                        <li class="nav-item"><a href="#tab3" data-url="/tab3" class="nav-link">Tab3</a></li>
                    </ul>

                    <div class="tab-content pt-3">
                        <div class="tab-pane active" id="zerodha_kite_token">Active panel</div>
                        <div class="tab-pane" id="tab2"></div>
                        <div class="tab-pane" id="tab3"></div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div th:replace="fragments::footer_fr"></div>

    <script>
        $('#settingTabs a').click(function (e) {
            e.preventDefault();

            var url = $(this).attr("data-url");
            var href = this.hash;
            var pane = $(this);

            // ajax load from data-url
            $(href).load(url, function (result) {
                pane.tab('show');
            });
        });

        // load first tab content
        $('#zerodha_kite_token').load($('.nav-link.active').attr("data-url"), function (result) {
        });
    </script>


</body>
</html>
